{% extends 'base.html.twig' %}

{% block title %}City {{ cityName }}{% endblock %}

{% block body %}
    <h2 class="genus-name">City: {{ cityName }}</h2>


    {#<a href="{{ path('city_show_notes', {'currentName':cityName}) }}">Json Notes</a>#}



    <div class="sea-creature-container-container">
        <div class="genus-name">
            {{ jsonResponse }}
        </div>
    </div>

    <div id="js-notes-wrapper"></div>



    </section>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>#}

    {#including the notes.react.js file that renders the same html template block#}
    {#<script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>#}

    {#starting reactjs app#}
    {#<script type="text/babel">#}
        {#var notesUrl ='{{ path('city_show_notes', {'currentName':cityName}) }}';#}
        {#var notesUrl = '{{ path('city_show_notes', {'currentName': cityName}) }}';#}
        {#ReactDOM.render(#}
            {#<NoteSection url={notesUrl} />,#}
            {#document.getElementById('js-notes-wrapper')#}

        {#);#}
    {#</script>#}

{#{% endblock %}#}
